* {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.wrapper div:nth-child(1) {
  grid-column: 1;
  grid-row: 1/6;
  background-color: #d0edd3;
  width: 15vw;
  height: 100vh;
}
.wrapper div:nth-child(2) {
  width: 85vw;
  height: 10vh;
  background-color: #7ee232;
  grid-column: 2/4;
  grid-row: 1;
}
.wrapper div:nth-child(3) {
  height: 80vh;
  background-color: #ffffff;
  width: 70vw;
}
.wrapper div:nth-child(4) {
  background-color: #f2fada;
  height: 90vh;
  width: 15vw;
  grid-column: 3/4;
  grid-row: 2/4;
}
.wrapper div:nth-child(5) {
  background-color: #7ee232;
  height: 10vh;
}
@media screen and (max-width: 767px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .wrapper div:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
    width: 100vw;
    height: 10vh;
  }
  .wrapper div:nth-child(2) {
    width: 100vw;
    height: 10vh;
    grid-column: 1;
    grid-row: 2;
  }
  .wrapper div:nth-child(3) {
    height: 50vh;
    width: 100vw;
    grid-column: 1;
    grid-row: 3;
  }
  .wrapper div:nth-child(4) {
    height: 20vh;
    width: 100vw;
    grid-column: 1;
    grid-row: 4;
  }
  .wrapper div:nth-child(5) {
    height: 10vh;
    width: 100vw;
  }
}
